ul {font-family:sans-serif; font-size:4em;}
a {text-decoration:none; color:#7700ff;}
a:hover {color:#ff00ee;}
a:visited {color:#7700ff;}
div.list {margin-top:100px; margin-left:100px; width:300px;}
div.twitter {margin-top:100px; margin-right:100px; display:block; float:right;}
