hr.large {
    border: none; height: 8px; background: #ebebeb; margin: 50px 0;
    display: block; clear: both; border-width: 1px 0 0;
}
hr.medium {
    border: none; height: 4px; background: #ebebeb; margin: 50px 0;
    display: block; clear: both; border-width: 1px 0 0;
}
a, a:visited {
    text-decoration: none; font-weight: bold; color: #555555;
}
a:hover {
    color: #000000;
    text-shadow: 2px 2px #cccccc;
}
nav {
    position: fixed;
    width: 220px;
    padding-top: 200px;
}
nav img {
    padding-bottom: 10px;
}
nav li {
    font-size: larger;
}
#top {
    display: block;
    padding-left: 240px;
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
h3 {
    padding-bottom: 10px;
}

button {
    padding: 0;
    margin: 0 5px;
    background-color: #ffffff;
    border: none;
    text-decoration: none;
    display: inline;
}
#toggle {
    margin: 5px 5px;
}
.mobile {
    display: none;
}
body {
    overflow-x: hidden;
}
.nav-toggler {
    display: none;
}
#mini-logo {
    display: none;
}

@media screen and (max-width: 767px) {
    .full-size { display: none; }
    .mobile {
        display: inline;
    }
    nav.menu {
        position: fixed;
        z-index: 20;
        overflow: hidden;
        padding-top: 20px;
        background-color: #ffffff;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    nav.slide-menu-left {
        top: 0;
        width: 180px;
        height: 100%;
        left: -180px;
    }
    nav.menu li {
        margin-left: 25px;
    }
    body.sml-open nav.slide-menu-left {
        left: 0;
    }
    .container {
        left: -220px;
    }
    .nav-toggler {
        display: block;
        position: fixed;
        top: 30px;
        left: 5px;
        z-index: 19;
    }
    h1 {
        display: none;
    }
    #mini-logo {
        display: block;
        padding-top: 10px;
    }
    hr.large {margin: 10px 0;}
    hr.medium {margin: 10px 0;}
}